/**
*	App specific Bootstrap overrides
*	
*	@author Lakha Singh
*/

.list-group .list-group-item.active a{
	color: #fff;
}

.group{
	position: relative;
	margin-right: 20px;
}
.group .list-group {
	position: absolute;
	width: 100%;
}

input[type=text]{
	border-radius: 5px;
	border: 1px solid #CCC;
	padding: 5px 10px;
}

a:hover {
	cursor: pointer;
}

.well{
	background-color: #f9f9f9;
}

.table.colored td{
	background-color: #fff;
}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #eee;
}

a:hover{
	text-decoration: none;
}

body > .container{
	width: : 1040px;
}

h1{
	text-align: center;
}