<div>
	<div class="panel panel-default"  ng-show="bookings.length">
		<div class="panel-heading">
			<h3 class="panel-title">Bookings</h3>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Number</th>
					<th>Origin</th>
					<th>Destination</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="flight in bookings">
					<td>{{ flight.number }}</td>
					<td>{{ flight.origin }} - {{ AirportName.get( flight.origin) }}</td>
					<td>{{ flight.destination }} - {{ AirportName.get( flight.destination) }}</td>
					<td>
						<button type="button" ng-click="cancelFlight( flight )" class="btn btn-sm btn-danger">
	  						<span class="glyphicon glyphicon-remove-sign"></span>
	  					 Cancel</button>	
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="alert alert-info" ng-hide="bookings.length">
		<p>You dont currently have any reservations, Why not make one now ?</p>
	</div>
</div>