
<h3></h3>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Search for Flights</h3>
	</div>
	<div class="panel-body">
		<form action="" class="controls controls-row">
			<input type="text" class="input-small" placeholder="Origin" ng-model="search.origin"/>
			<input type="text" placeholder="Destination" ng-model="search.destination"/>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<table class="table">
		<thead>
			<tr>
				<th>Number</th>
				<th>Origin</th>
				<th>Destination</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="flight in flights | filter:search">
				<td><span class="badge">{{ flight.number }}</span></td>
				<td><a ng-href="#/airports/{{flight.origin}}">{{ flight.origin }} - {{ getAirportName( flight.origin ) }}</a></td>
				<td><a ng-href="#/airports/{{flight.destination}}">{{ flight.destination }} - {{ getAirportName( flight.destination ) }}</a></td>
				<td>{{ flight.price | currency }}</td>
			</tr>
		</tbody>
	</table>
</div>
